<p style='font-size:2em;'>
    Your meeting with
    <b style='color:rgb(110,200,40);'><%- tn %></b>
    on
    <b style='color:rgb(40, 200, 110);'><%- dn %></b>
    from <b style='color:rgb(80,80,140)'><%- sn %></b>
    to
    <b style='color:rgb(80,80,140)'><%- en %></b>
    has been cancelled.
</p>