   <style>
    #footer p {
        font-size: small;
    }
</style>

<hr class="bg-light">
<footer id="footer" class="text-center text-lg-start text-muted d-flex flex-column bg-light">
        <div class="container text-center text-md-start <% if(typeof classList === "object") { classList.join(" ") } %>">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
                    Built by 
                    <h6 class="text-uppercase fw-bold">
                        Aarav Borthakur &
                        <br>
                        Aarush Vailaya
                    </h6>
                    <p>Chat with us in person or by email!</p>
                </div>
                <div class="col-md-3 col-lg-2 mx-auto">
                    <h6 class="text-uppercase fw-bold">Links</h6>
                    <p>
                        <a href="/about" class="text-reset">About</a>
                        <br>
                        <a href="/settings" class="text-reset mt-5">Settings</a>
                        <br>
                        <a href="/help" class="text-reset">User Guide</a>
                        <br>
                        <a 
                            class="text-reset"
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            title="Code will be open-sourced upon app release">
                            Source code
                        </a><br>
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 mx-auto">
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <p>
                        <a class="text-reset" href="mailto:harker.hackers@gmail.com">harker.hackers@gmail.com</a>
                        <br>
                        <a class="text-reset" href="/help/report">Report a problem</a>
                        <br>
                        <a class="text-reset" 
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            title="Code will be open-sourced upon app release">
                            GitHub Issues
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--
    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2022 Copyright: Harker Hackers
    </div>
    -->
</footer>