<div class="modal fade" id="prompt-popup" tabindex="-1" aria-labelledby="prompt-popup-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <%- content %>
        </div>
    </div>
</div>