<head>
    <%- include(`${base}/views/partials/head.ejs`) %>
</head>
<body>
    <div class="text-center mt-4">
        <img src="/static/img/development.png">
        <h1 class="mt-3">Coming soon!</h1>
        <p>This page is still under development.</p>
    </div>
</body>