<head>
    <%- include(`${base}/views/partials/head.ejs`) %>
</head>
<body>
    <%- include(`${base}/views/partials/homeTopBar.ejs`, { logo: true }) %>
    <!-- include(`${base}/views/partials/footer.ejs` { classList: ["bg-dark"]} ) -->
</body>