<%- include(`${base}/views/partials/head.ejs`) %>
<%- include(`${base}/views/partials/calendar.ejs`) %>
<body>
    <h1>Teacher Home</h1>
    <p>Welcome, <%- name %></p>

    <h2>Create a new slot</h1>
    <% for(let i=0;i <slots.length; i++) { %>
        <p><%- JSON.stringify(slots[i]) %></p>
    <% } %>
    <div id='calendar'></div>
</body>