<%- include(`${base}/views/partials/head.ejs`) %>
<%- include(`${base}/views/partials/calendar.ejs`) %>
<body>
    <h1>Teacher Home</h1>
    <p>Welcome, <%- name %></p>

    <h2>Create a new slot</h1>
    <div id='calendar'></div>
    <script>
        slots=<%- JSON.stringify(slots) %>;
        async function createSlot(date,starttime,endtime){
            let r=await fetch('/api/create_slot', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({date:date,starttime:starttime,endtime:endtime})
            })
            console.log(await r.json());
        }
        window.createSlot=createSlot;
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                   right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventClick: (info) => {
                    alert(info.event.title);
                    console.log(info.event);
                }
            });
            let slot;
            for(let i=0;i<slots.length;i++)
            {
                slot=slots[i];
                calendar.addEvent({start:slot.date+"T"+slot.starttime,end:slot.date+"T"+slot.endtime,
                    title:"Meeting"
                })
            }
            calendar.render();
            //window.changeview=function(){calendar.changeView('dayGridWeek')}
        });
  
      </script>
</body>