<head>
    <%- include(`${base}/views/partials/head.ejs`, { title: "Calendar" }) %>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
</head>
<body>
    <%- include(`${base}/views/partials/teacher/topBar.ejs`, { active: "slots" }) %>
    <div class="ms-4 me-4">
        <div class="card">
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <script>
        const DEFAULT_SLOT_COLOR="#3A5AFF";
        const REMOVE_SLOT_COLOR="#FFADAD";
        const CREATE_SLOT_COLOR="#DDDDDD";
        slots=<%- JSON.stringify(slots) %>;
        function toSQLDate(date)
        {
            return date.toISOString().slice(0,10);
        }

        function toSQLDateTime(date)
        {
            return date.toISOString().slice(0, 19).replace("T", " ");
        }

        function toSQLTime(date)
        {
            return date.toISOString().slice(10, 19).replace("T", "");
        }
        async function createSlot(slot){
            slot={date:"",starttime:"",endtime:"",...slot};
            let ev=calendar.addEvent({start:slot.date+"T"+slot.starttime,end:slot.date+"T"+slot.endtime,
                title:"Meeting",
                backgroundColor:CREATE_SLOT_COLOR,
                borderColor:CREATE_SLOT_COLOR,
                display:"block"
            });
            try{
            let r=await fetch("/api/create_slot", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({"date":slot.date,"starttime":slot.starttime,"endtime":slot.endtime})
            })
                let success=await r.json();
                ev.remove();
                if(success.success){
                    createSlotEvent(success.slot);
                }
            } catch(err) {
                ev.remove();
            }
        }
        async function deleteSlot(id,ev){
            ev.setProp("backgroundColor",REMOVE_SLOT_COLOR)
            ev.setProp("borderColor",REMOVE_SLOT_COLOR)
            try
            {
                let r=await fetch("/api/delete_slot", {
                method:"POST",
                headers:{
                    "Accept":"application/json",
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({id:id})
                })
                let success=await r.json()
                if(success.success)
                {
                    ev.remove();
                } else {
                    3/0
                }
            } catch(err){ev.setProp("backgroundColor",DEFAULT_SLOT_COLOR);ev.setProp("borderColor",DEFAULT_SLOT_COLOR);return;}
        }
        function createSlotEvent(slot)
        {
            calendar.addEvent({start:slot.date+"T"+slot.starttime,end:slot.date+"T"+slot.endtime,
                title:"Meeting",slot_id:slot._id,
                backgroundColor:DEFAULT_SLOT_COLOR,
                display:"block"
            });
        }
        document.addEventListener("DOMContentLoaded", function() {
            var calendarEl = document.getElementById("calendar");
            window.calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
                headerToolbar: {
                    left: "prev,next today",
                    center: "title",
                    right: "dayGridMonth,timeGridWeek,timeGridDay"
                },
                eventClick: (info) => {
                    window.inf=info;
                    confirm("Are you sure you want to delete this event?") && deleteSlot(info.event.extendedProps.slot_id,info.event)
                },
                dateClick: (info) => {
                    createSlot({date:toSQLDate(info.date), starttime: prompt("start time (hh:mm:ss)"), endtime: prompt("end time (hh:mm:ss)")});
                }
            });
            let slot;
            for(let i=0;i<slots.length;i++) {
                createSlotEvent(slots[i]);
            }
            calendar.render();
        });
            
    </script>
</body>